<br>
<div class="w3-row">

  <div class="w3-container w3-third">
  <label><b>Curso</b></label>
      <select class="w3-select" (change)="onSelectCurso($event.target.value)" name="curso" styele="width:90%" ngModel>
      <option value="" disabled selected>Curso</option>
      <option value={{c._id}} *ngFor="let c of cursos">{{c?.materia.nombre}} Sem {{c?.semestre}} Año {{c?.anho}}</option>
  </select>
  <p>
      <button class="w3-btn w3-blue-grey" (click)="nuevoGrupo()" style="width:100%">Nuevo Grupo</button>
  </p>
<p *ngFor="let g of grupos">
  <button class="w3-button w3-black" (click)="onSelectGrupo(g)"style="width:100%">{{g?.numero}}</button>
</p>
  </div>

  <div *ngIf = "isavailable" class="w3-container w3-twothird" >
<form #grupoModificadoForm="ngForm" class="w3-container">
  <button class="w3-btn w3-blue-grey" (click)="modificarGrupo(grupoModificadoForm.value)">Guardar</button>
  <button class="w3-btn w3-blue-grey" (click)="borrarGrupo()">Eliminar grupo {{selectedGrupo.numero}} </button>
</form>
  </div>

</div>
