<br>
<div class="w3-row">

  <div class="w3-container w3-third">
    <p>
      <button class="w3-btn w3-blue-grey" (click)="onNuevoGrupo()" style="width:90%">Nuevo Grupo</button>
    </p>
<p *ngFor="let g of grupos">
  <button class="w3-button w3-black" (click)="onSelectGrupo(g)"style="width:90%">{{g?.curso.materia.nombre}}</button>
</p>
  </div>

  <div *ngIf = "isavailable" class="w3-container w3-twothird" >
<form #grupoModificadoForm="ngForm" class="w3-container">
  <label><b>Materia</b></label>
  <p>
  <select class="w3-select" (change)="onSelectMateria($event.target.value)" name="materia" ngModel >
      <option value="" disabled selected>Materia</option>
      <option value={{m._id}} *ngFor="let m of materias">{{m.nombre}}</option>
  </select>
  </p>
  <label><b>Curso</b></label>
  <select class="w3-select" (change)="onSelecteCurso($event.target.value)" name="curso" ngModel>
      <option value="" disabled selected>Curso</option>
      <option value={{c._id}} *ngFor="let c of cursos">{{c.nombre}}</option>
  </select>
  <br>
  <button class="w3-btn w3-blue-grey" (click)="modificarGrupo(grupoModificadoForm.value)">Guardar</button>
  <button class="w3-btn w3-blue-grey" (click)="borrarGrupo()">Borrar</button>
</form>
  </div>

  <div *ngIf = "isavailableNueva" class="w3-container w3-twothird">
<form #grupoNuevoForm="ngForm" class="w3-container">
  <label><b>Materia</b></label>
  <p>
  <select class="w3-select" (change)="onSelectMateria($event.target.value)" name="materia" ngModel >
      <option value="" disabled selected>Materia</option>
      <option value={{m._id}} *ngFor="let m of materias">{{m.nombre}}</option>
  </select>
  </p>
  <label><b>Curso</b></label>
  <select class="w3-select" (change)="onSelecteCurso($event.target.value)" name="curso" ngModel>
      <option value="" disabled selected>Curso</option>
      <option value={{c._id}} *ngFor="let c of cursos">{{c.nombre}}</option>
  </select>
  <br>
  <button class="w3-btn w3-blue-grey" (click)="nuevoGrupo(grupoNuevoForm.value)">Guardar</button>
</form>
  </div>

</div>
