<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
    <button class="w3-bar-item w3-button w3-large"
        (click)="w3_close()">Cerrar &times;</button>
    <a routerLink="./adminEstudiante" routerLinkActive="active"class="w3-bar-item w3-button">Modificar Usuario</a>
    <a routerLink="./cursosMatriculados" routerLinkActive="active"class="w3-bar-item w3-button">Cursos Matriculados</a>
      <a routerLink="./matricularCursos" routerLinkActive="active"class="w3-bar-item w3-button">Matricular Cursos</a>
    </div>

    <div id="main">

        <div class="w3-red">
            <button id="openNav" class="w3-button w3-red w3-xlarge" (click)="w3_open()">&#9776;</button>
            <div class="w3-container">
                <h1>Estudiantes</h1>
            </div>
        </div>


        <div class="w3-container">
            <router-outlet>

            </router-outlet>
    </div>

    </div>
