<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
    <button class="w3-bar-item w3-button w3-large"
        (click)="w3_close()">Cerrar &times;</button>
    <a routerLink="./adminInstitucion" routerLinkActive="active"class="w3-bar-item w3-button">Administrar Instituciones</a>
        <a routerLink="./adminEscuela" routerLinkActive="active"class="w3-bar-item w3-button">Administrar Escuelas</a>
        <a routerLink="./adminPrograma" routerLinkActive="active"class="w3-bar-item w3-button">Administrar Programa Academico</a>
        <a routerLink="./adminMateria" routerLinkActive="active"class="w3-bar-item w3-button">Administrar Materias</a>
        <a routerLink="./adminCurso" routerLinkActive="active"class="w3-bar-item w3-button">Administrar Cursos</a>
        <a routerLink="./adminGrupo" routerLinkActive="active"class="w3-bar-item w3-button">Administrar Grupos</a>
        <a routerLink="./editProfesor" routerLinkActive="active"class="w3-bar-item w3-button">Editar perfil</a>
    </div>

    <div id="main">

        <div class="w3-red">
            <button id="openNav" class="w3-button w3-red w3-xlarge" (click)="w3_open()">&#9776;</button>
            <div class="w3-container">
                <h1>Profesores</h1>
            </div>
        </div>


        <div class="w3-container">
            <router-outlet>

            </router-outlet>
    </div>

    </div>
