<div class="w3-display-middle w3-padding w3-col l6 m8">
    <base href="/login">
    <div class="w3-container w3-red">
      <h2><i class="fa fa-bed w3-margin-right"></i>Inicio de Sesión</h2>
    </div>
    <div class="w3-container w3-white w3-padding-16">
        <form  #loginForm="ngForm" (ngSubmit)="onSubmitLogin(loginForm.value)" class="w3-container">

        <input class="w3-input" type="text" placeholder="Usuario" name="usuario" ngModel>

        <input class="w3-input" type="text" placeholder="Constraseña" name="clave" ngModel>

        <br>

        <p>
        <input type="radio"  class="w3-radio" name="tipo" value="estudiante"> 
        <label>Estudiante</label>
        </p>

        <p>
        <input class="w3-radio" type="radio" name="tipo" value="profesor">
        <label>Profesor</label>

        <input type="submit" class="w3-btn w3-red w3-right" value="Iniciar Sesión" >
        </p>
        </form>

        <br>
        <p>No tiene cuenta?</p>
        
        <p><button class="w3-button" onclick="document.getElementById('modalEstudiante').style.display='block'" (click) = "getInstituciones($event)" >Registro de estudiantes</button></p>
        <p><button class="w3-button" onclick="document.getElementById('modalProfesor').style.display='block'" (click) = "getInstituciones($event)" >Registro de profesores</button></p>
    </div>
  </div>

<!-- The Modal -->
<div id="modalEstudiante" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container w3-red">
      <span onclick="document.getElementById('modalEstudiante').style.display='none'"
      class="w3-button w3-display-topright">&times;</span>

          <h2><i class="fa fa-bed w3-margin-right"></i>Registro de estudiantes</h2>
    </div>
    <div class="w3-container w3-white w3-padding-16">
        <form  #estudianteForm="ngForm" (ngSubmit)="onSubmitRegistroEstudiante(estudianteForm.value)" class="w3-container">

        <input class="w3-input" type="text" placeholder="Nombre" name="nombre" ngModel>

        <input class="w3-input" type="text" placeholder="Apellidos" name="apellidos" ngModel>
        <p>
        <select class="w3-select" name="option" name="institucion" ngModel >
            <option value="" disabled selected>Institucion</option>
            <option value={{i._id}} *ngFor="let i of instituciones">{{i.nombre}}</option>
        </select>
        </p>
        <p>
        <select class="w3-select" (change)="onSelectEscuela($event.target.value)" name="escuela" ngModel>
            <option value="" disabled selected>Escuela</option>
            <option value="{{e._id}}" *ngFor="let e of escuelas">{{e.nombre}}</option>
        </select>
        </p>
            <p>
        <select class="w3-select" name="programaAcademico" ngModel>
            <option value="" disabled selected>Programa Académico</option>
            <option value="{{p._id}}" *ngFor="let p of programasAcademicos">{{p.nombre}}</option>
        </select>
        </p>
        <input class="w3-input" type="text" placeholder="Usuario" name="usuario" ngModel>

        <input class="w3-input" type="text" placeholder="Contraseña" name="clave" ngModel>

        <p>
        <input type="submit" class="w3-btn w3-red w3-right" value="Registrarse">
        </p>
 
        </form>
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="modalProfesor" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container w3-red">
        <span onclick="document.getElementById('modalProfesor').style.display='none'"
      class="w3-button w3-display-topright">&times;</span>

      <h2><i class="fa fa-bed w3-margin-right"></i>Registro de profesores</h2>
    </div>
    <div class="w3-container w3-white w3-padding-16">
        <form  #profesorForm="ngForm" (ngSubmit)="onSubmitRegistroProfesor(profesorForm.value)" class="w3-container">

        <input class="w3-input" type="text" placeholder="Nombre" name="nombre" ngModel>

        <input class="w3-input" type="text" placeholder="Apellidos" name="apellidos" ngModel>
        <p>
        <select class="w3-select" (change)="onSelectInstitucion($event.target.value)" name="institucion" ngModel>
            <option value="" disabled selected>Institucion</option>
            <option value={{i._id}} *ngFor="let i of instituciones">{{i.nombre}}</option>
        </select>
        </p>
        <p>
        <input class="w3-input" type="text" placeholder="Otra" name="institucion" ngModel>
        </p>
        <p>
        <select class="w3-select" name="escuela" ngModel>
            <option value="" disabled selected>Escuela</option>
            <option value="{{e._id}}" *ngFor="let e of escuelas">{{e.nombre}}</option>
        </select>
        </p>
        <p>
        <input class="w3-input" type="text" placeholder="Otra" name="escuela" ngModel>
        </p>
        <input class="w3-input" type="text" placeholder="Usuario" name="usuario" ngModel>

        <input class="w3-input" type="text" placeholder="Constraseña" name="clave" ngModel>

        <p>
        <input type="submit" class="w3-btn w3-red w3-right" value="Registrarse" >
        </p>
 
        </form>
    </div>
  </div>
</div>
