<br>
<div class="w3-row">

  <div class="w3-container w3-third">
<div *ngFor="let i of instituciones">
    <button class="w3-button w3-black" (click)="onSelectInstitucion(i)">{{i?.nombre}}</button>
</div>
  </div>

  <div *ngIf = "isavailable" class="w3-container w3-twothird">
<form class="w3-container">
  <label><b>Nombre</b></label>
  <input class="w3-input w3-border w3-light-grey" type="text"
  [(ngModel)]="selectedInstitucion.nombre" name="nombre">
  <br>
  <button class="w3-btn w3-blue-grey">Register</button>
</form>
  </div>

</div>
